#clockcard {
  display: grid;
  grid-template-rows: repeat(16, 100px);
  grid-template-columns: repeat(20, 5vw);
}

#mainclock {
  display: flex;
  grid-column: 2 / 11;
  grid-row: 2 / 6;
  justify-content: space-between;
  align-items: flex-start;
}

#mainclocktext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

#mainclock >  div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

#coworkers {
  margin-right: 12px;
}

#clockButton {
  align-self: flex-end;
}

#comment {
  text-align: center;
  margin-bottom: 6px;
}

#nametext {
  margin-left: 60px;
  margin-bottom: -18px;
  margin-top: 18px;
}

#sideclock {
  grid-column: 11 / 14;
  grid-row: 2 / 6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between
}

#sidedate {
  margin-bottom: 12px;
}

#laptop {
  height: 800px;
  width: 800px;
  position: absolute;
  background-image: url('../img/laptop5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#sidelaptop {
  position: absolute;
  right: -143px;
  height: 800px;
  width: 800px;
  top: 0;
}

#belowcomments {
  grid-row: 7 / 11;
  grid-column: 2 / 10;
  display: flex;
}

#belowcomments > div:nth-child(2) {
  margin-top: 40px;
}

#belowcomments > img:nth-child(1) {
  margin-right: 50px;
}

#commentexamples {
  grid-row: 7 / 11;
  grid-column: 12 / 20;
  display: flex;
}

#commentexamples > div:nth-child(1) {
 margin-top: 40px;
}

#commentexamples > img:nth-child(2) {
  margin-left: 50px;
}

#whitebackground {
  background-color: #fff;
  grid-column: 1 / -1;
  grid-row: 7 / 11;
}

#timesheets {
  grid-row: 11 / 17;
  grid-column: 4 / 18;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#coolgraybg {
  background-color: #f6f9fc;
  grid-row: 11 / -1;
  grid-column: 1 / -1;
}

#commentyborder {
  grid-column: 11 / 11;
  grid-row: 7 / 11;
}

#timesheetcards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#timesheetcards > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 500px;
  justify-content: center;
  margin-right: 10px;
}

#timesheetcards > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 500px;
  justify-content: center;
  margin-left: 10px;
}

#showTInputs {
  display: flex;
  flex-direction: row;
}

#showTInputs > select {
  margin-left: 12px;
}

@media (max-width: 1879px) {
  #whitebackground {
    margin-bottom: -50px;
  }

  #coolgraybg {
    margin-top: 50px;
  }

  #commentyborder {
    grid-row: 7 / 12;
  }

  #timesheets {
    margin-top: 110px;
    grid-column: 3 / 19;
  }
}

@media (max-width: 1735px) {
  #sidelaptop {
    right: -133px;
    height: 750px;
    width: 750px;
  }

  #laptop {
    width: 750px;
    height: 750px;
  }

  #belowcomments > div:nth-child(2) {
    margin-top: 30px;
  }

  #belowcomments > img:nth-child(1) {
    margin-left: -50px;
  }

  #commentexamples > img:nth-child(2) {
    margin-right: -50px;
  }
}

@media (max-width: 1640px) {
  #sideclock {
    grid-column: 12 / 16;
  }

  #mainclock {
    grid-column: 2 / 12;
  }

  #sidelaptop {
    right: -342px;
  }
}

@media (max-width: 1530px) {
  #mainclock {
    grid-column: 2 / 14;
  }

  #sideclock {
    grid-column: 14 / 20;
  }
  
  #sidelaptop {
    display: none;
  }

  #commentexamples > div:nth-child(1) {
    margin-top: 25px;
  }

  #belowcomments > div:nth-child(2) {
    margin-top: 10px;
  }
}

@media (max-width: 1450px) {
  #commentexamples > div:nth-child(1) {
    margin-top: 10px;
  }

  #timesheets {
    grid-column: 2 / 20;
    grid-row: 14 / 21;
    margin-top: 60px;
  }

  #commentyborder {
    border-bottom: 3px solid #f6f9fc;
    grid-column: 2 / 20;
    grid-row: 10 / 10;
    margin-bottom: 50px;
    border-left: none;
  }

  #whitebackground {
    grid-row: 7 / 14;
  }

  #coolgraybg {
    grid-row: 14 / -1;
    margin-top: 0px;
  }

  #clockcard {
    grid-template-rows: repeat(21, 100px);
  }

  #belowcomments {
    grid-row: 7 / 10;
    grid-column: 2 / 20;
    margin-top: 40px;
  }

  #belowcomments > img:nth-child(1) {
    margin-left: 0px;
  }

  #belowcomments > div:nth-child(2) {
    margin-top: 0px;
  }

  #commentexamples {
    grid-row: 11 / 14;
    grid-column: 3 / 20;
  }

  #commentexamples > div:nth-child(1) {
    margin-top: 0px;
  }

  #commentexamples > img:nth-child(2) {
    width: 300px;
    margin-left: 150px;
  }
}

@media (max-width: 1280px) {
  #mainclock {
    grid-column: 2 / 15;
  }

  #sideclock {
    grid-column: 15 / 20;
  }
}

@media (max-width: 1244px) {
  #belowcomments {
    margin-top: 20px;
  }

  #commentexamples {
    margin-top: -20px;
  }
}

@media (max-width: 1130px) {
  #mainclock {
    grid-column: 2 / 16;
  }

  #sideclock {
    grid-column: 16 / 20;
  }

  #commentexamples > img:nth-child(2){
    margin-left: 50px;
    margin-right: 0;
  }
}

@media (max-width: 1097px) {
  #belowcomments {
    margin-top: 10px;
  }

  #commentexamples {
    margin-top: -30px;
  }
}

@media (max-width: 1051px) {
  #mainclock {
    grid-column: 2 / 20;
    grid-row: 2 / 6;
  }

  #sideclock {
    grid-column: 2 / 20;
    grid-row: 6 / 8;
    flex-direction: row;
    align-items: center;
  }

  #whitebackground {
    grid-row: 9 / 16;
  }

  #coolgraybg {
    grid-row: 16 / -1;
  }

  #belowcomments {
    grid-row: 9 / 13;
  }

  #commentexamples {
    grid-row: 13 / 16;
  }

  #commentyborder {
    grid-row: 12 / 12;
  }

  #timesheets {
    grid-row: 16 / 24;
  }

  #timesheetcards {
    flex-direction: column;
  }

  #timesheetcards > div:nth-child(1) {
    margin-right: 0;
    margin-bottom: 12px;
    width: inherit;
  }

  #timesheetcards > div:nth-child(2) {
    margin-left: 0;
    margin-top: 12px;
    width: inherit;
  }

  .sideheading {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    width: 21%;
  }

  .sidestamp {
    width: 25%;
    border-left: 1px solid #d2d1d1cc;
    border-right: 1px solid #d2d1d1cc;
    padding: 30px 0px 30px 0px;
  }

  #sidecomments {
    width: 50%;
    border-top: none;
    padding-top: 0;
  }

  #clockcard {
    grid-template-rows: repeat(23, 100px);
  }
}

@media (max-width: 884px) {
  #commentexamples > img:nth-child(2) {
    margin-left: 18px;
    width: 275px;
  }

  #clockButton {
    align-self: center;
  }
}

@media (max-width: 835px) {
  #belowcomments > img:nth-child(1) {
    width: 200px;
    margin-right: 25px;
  }
}

@media (max-width: 804px) {
  #coworkers {
    width: 200px;
  }

  #commentexamples > img:nth-child(2) {
    width: 225px;
  }
}

@media (max-width: 740px) {
  #coworkers {
    width: 175px;
  }

  #belowcomments {
    grid-column: 1 / 21;
    margin: 0px 6px 0px 6px;
  }

  #commentexamples {
    grid-column: 1 / 21;
    margin: -40px 6px 0px 6px;
  }

  #belowcomments > img:nth-child(1) {
    margin-right: 20px;
  }

  textarea {
    width: 300px;
  }

  #comment {
    font-size: 14px;
  }

  #coworkers {
    margin-right: 0;
  }

  .sidestamp {
    width: 30%;
  }

  #sidecomments {
    width: 40%;
  }
}

@media (max-width: 658px) {
  #clockcard {
    grid-template-rows: repeat(27, 100px);
  }

  #mainclock {
    grid-column: 1 / 21;
  }

  #sideclock {
    grid-column: 1 / 21;
  }

  #whitebackground {
    grid-row: 9 / 21;
  }

  #belowcomments {
    margin: 0px 6px 12px 6px;
    grid-row: 9 / 15;
    align-items: center;
    flex-direction: column;
  }

  #belowcomments > img:nth-child(1) {
    margin: 24px 0 24px 0px;
    width: 275px;
  }

  #commentexamples {
    margin: 12px 6px 0px 6px;
    grid-row: 15 / 20;
    flex-direction: column;
    align-items: center;
  }

  #commentexamples > div:nth-child(1) {
    order: 2;
  }

  #commentexamples > img:nth-child(2) {
    order: 1;
    margin: 12px 0px 24px 12px;
    width: 275px;
  }

  #commentyborder {
    grid-row: 14 / 14;
    margin-bottom: 0;
  }

  #coolgraybg {
    grid-row: 20  / -1;
  }

  #timesheets {
    grid-row: 20 / 28;
  }
}

@media (max-width: 554px) {
  #commentexamples {
    margin: 4px 6px 0px 6px;
  }

  #coworkers {
    width: 125px;
  }

  textarea {
    width: 250px;
  }

  #comment {
    display: none;
  }

  .sidestamp {
    padding: 30px 10px 30px 10px;
  }

  #printinput {
    width: 94%;
  }

  #clockcard {
    grid-template-rows: repeat(30, 100px);
  }
}

@media (max-width: 503px) {
  #commentexamples > img:nth-child(2) {
    width: 225px;
  }

  #mainclock {
    flex-direction: column;
  }

  #coworkers {
    display: none;
  }

  #nametext {
    margin-top: none;
  }

  #mainclocktext > div:nth-child(2) {
    margin: 12px 0px 12px 0px;
  }

  #showTInputs {
    flex-wrap: wrap;
  }

  #showTInputs > select {
    margin-left: 0;
    margin-top: 12px;
  }

  #timesheets {
    grid-row: 20 / 30;
  }
}

@media (max-width: 438px) {
  #belowcomments > img:nth-child(1) {
    width: 200px;
  }

  .card {
    padding: 30px 6px 30px 6px; 
  }
}

@media (max-width: 390px) {
  #belowcomments > img:nth-child(1) {
    width: 185px;
    margin: 24px 0px 6px 0px;
  }

  #commentexamples > img:nth-child(2) {
    width: 160px;
    margin: 12px 0px 6px 12px;
  }
}

