#clockcard {
  display: grid;
  grid-template-rows: repeat(15, 100px);
  grid-template-columns: repeat(20, 5vw);
}

#mainclock {
  display: flex;
  grid-column: 2 / 10;
  grid-row: 2 / 6;
  justify-content: space-between;
  align-items: flex-start;
}

#mainclocktext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

#mainclock >  div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

#coworkers {
  margin-right: 12px;
}

#clockButton {
  align-self: flex-end;
}

#comment {
  text-align: center;
  margin-bottom: 6px;
}

#nametext {
  margin-left: 60px;
  margin-bottom: -18px;
  margin-top: 18px;
}

#sideclock {
  grid-column: 10 / 13;
  grid-row: 2 / 6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between
}

#sidedate {
  margin-bottom: 12px;
}

#laptop {
  height: 720px;
  width: 720px;
  position: absolute;
  background-image: url('../img/laptop3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#sidelaptop {
  position: absolute;
  right: 12px;
  height: 720px;
  width: 720px;
  top: 60px;
  transform: rotateY(180deg);
}

#belowcomments {
  grid-row: 7 / 12;
  grid-column: 3 / 12;
  padding-top: 36px;
  display: flex;
  flex-direction: column;
}

#whitebackground {
  background-color: #fff;
  grid-column: 1 / -1;
  grid-row: 7 / -1;
}


