.contain {
  display: grid;
  grid-template-rows: repeat(16, 100px);
  grid-template-columns: repeat(20, 5vw);
}

.BGcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.gray {
  background-color: #e6ebf1;
}

.grayline {
  border: 2px solid #e6ebf1;
  margin-top: -2px;
}

.white {
  background-color: #fff;
}

.lightblue {
  background-color: #74bce4;
}

.lightblue2 {
  background-color: #cff1fa;
}

.darkblue {
  background-color: #005381;
}

#namesAndRoles {
  grid-row: 2 / 7;
  grid-column: 5 / 17;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#heroBG {
  --content-column-width: minmax(0,calc(1040px / var(--content-columns)));
  --content-columns: 12;
  --gutter-columns: 4;
  --gutter-column-width: 1fr;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(20, 64px);
  grid-template-columns: [viewport-start] 1fr [left-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width)) [left-gutter-end content-start] repeat(var(--content-columns),var(--content-column-width)) [content-end right-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width)) [right-gutter-end] 1fr [viewport-end];
  top: -13px;
  width: 100%;
  background-color: #f6f9fc;
  z-index: -2;
}

@media (min-width: 1040px) {
  #heroBG {
    --gutter-column-width: var(--content-column-width);
    min-width: calc(1040px / var(--content-columns) * (var(--gutter-columns) * 2 + var(--content-columns)));
  }
}

#stripe1 {
  grid-row: 2;
  grid-column: 3 / span 2;
}

#stripe2 {
  grid-row: 10;
  grid-column: viewport-start/span 3;
}

#stripe3 {
  grid-row: 10;
  grid-column: 4/span 2;
}

#stripe4 {
  grid-row: 11;
  grid-column: 2/span 3;
}

#stripe5 {
  grid-row: 11;
  grid-column: 17/viewport-end;
}

#stripe6 {
  grid-row: 3;
  grid-column: 2 / span 2;
}

#stripe7 {
  grid-row: 12;
  grid-column: 16/span 3;
}

#stripe8 {
  grid-row: 13;
  grid-column: 17/span 4;
  z-index: 0;
}

#stripe9 {
  grid-row: 13;
  grid-column: 13/span 3;
}

#stripe10 {
  grid-row: 14;
  grid-column: 18/span 2;
}

#stripe11 {
  grid-row: 14;
  grid-column: 3 /span 2;
}

#stripe12 {
  grid-row: 6;
  grid-column: 17/span 3;
}

#stripe13 {
  grid-row: 7;
  grid-column: 18/span 3;
}

#stripebg {
  grid-row: 11 / -1;
  grid-column: 1 / -1;
  z-index: -1;
}