.cd-tabs {
  position: relative;
}

@supports (background: linear-gradient(to left, #000, #000)) or (background: -webkit-linear-gradient(to left, #000, #000)) {
  /* if linear-gradient is supported */
  .cd-tabs::after {
    /* subtle gradient layer on top right of the tabbed navigation- to indicate it's possible to scroll */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 50px;
    z-index: 1;
    pointer-events: none;
    background: -webkit-gradient(linear, right top, left top, from(#f8f7ee), to(rgba(248, 247, 238, 0)));
    background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-tabs.cd-tabs--scroll-ended::after {
    /* class added in JavaScript - remove the gradient layer when it's no longer possible to scroll */
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
}

.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}

@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    box-shadow: none;
  }
}

.cd-tabs__navigation {
  display: flex;
}

.cd-tabs__navigation:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-tabs__navigation li {
  width: 100%;
}

.cd-tabs__navigation a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #32325d;
  outline: 0;
  background: #ece5db;
  padding: 8px 0px;
}

.cd-tabs__navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs__navigation a.cd-selected {
  background-color: #cec4b0 !important;
  box-shadow: inset 0 5px 0 #696969;
  color: #32325d;
  border-radius: 3px;
}

@media only screen and (min-width: 768px) {
  .cd-tabs__navigation {
    /* move the nav to the left on medium sized devices */
  }
  .cd-tabs__navigation a {
  }
  .cd-tabs__navigation a.cd-selected {
    box-shadow: inset 0 5px 0 #696969;
  }
}

@media only screen and (min-width: 960px) {
  .cd-tabs__navigation {
    /* tabbed navigation on top on big devices */
    display: flex;
  }
  .cd-tabs__navigation a {
    padding: 12px 0;
  }
  .cd-tabs__navigation a.cd-selected {
  }
  .cd-tabs__navigation a::before {
    top: 50%;
    margin-top: -8px;
    margin-left: 0;
    left: 40px;
  }
}

.cd-tabs__content {
  
}

.cd-tabs__content li {
  display: none;
  padding: 15px 0px;
  background: #fff;
  margin: 0px 15px;
  border-radius: 8px;
}

.cd-tabs__content li.cd-selected {
  display: flex;
  justify-content: space-between;
  animation: cd-fade-in 1s;
}

.welcome-sidetext > div {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cd-tabs__content {
  }
  .cd-tabs__content li {
  }
}

@media only screen and (min-width: 960px) {
  .cd-tabs__content {
    min-height: 0;
  }
  .cd-tabs__content li {
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
