*, ::after, ::before {
    box-sizing: inherit;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', 'Nunito Sans', sans-serif;
  background-color: hsl(0, 0%, 93%);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0px 0px 12px 0px;
}

textarea {
  font-family: inherit;
  border:  none;
  outline: none;
  resize: none;
  padding: 7px 20px 7px 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: #f1f3f6;
  color: #32325d;
  border-radius: 4px;
    -webkit-transition: background-color .1s ease-in,color .1s ease-in;
  transition: background-color .1s ease-in,color .1s ease-in;
  height: 100px;
  width: 400px;
}

textarea:focus {
  background-color: transparent;
  color: #4d4e6d!important;
  box-shadow: 0 0 0 1px #e4effa;
}

input[type="text"] {
  font-family: inherit;
  font-weight: 400;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  background-color: #f1f3f6;
  color: #323325;
  -webkit-transition: background-color .1s ease-in,color .1s ease-in;
  transition: background-color .1s ease-in,color .1s ease-in;
  height: 30px;
}

input[type="text"]:focus {
  background-color: transparent;
  color: #4d4e6d!important;
  box-shadow: 0 0 0 1px #e4effa;
}

select {
  border: 1px solid #eee;
  width: 100%;
  color: #111;
  font-family: inherit;
  font-weight: 400;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 30px;
  background-color: #f1f3f6;
  outline: 0;
  background-image: url("../img/select.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: .8em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}

[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: .9em;
    margin-right: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 1px solid #666;
    border-radius: 1px;
    margin-top: 4px;
    -webkit-transition: .2s;
    transition: .2s;
}

[type="checkbox"]:checked + label::before {
    top: -8px;
    left: -2px;
    width: 10px;
    height: 18px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #06d19c;
    border-bottom: 2px solid #06d19c;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

label {
  display: block;
  text-align: left;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listicon {
  margin-bottom: 12px;
  position: relative;
  padding-left: 2em;
  font-size: 16px;
}

.listicon:before {
  content: ' ';
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  position: absolute;
  background: url('../img/checkmark-outline.svg')
}

.muted-text {
  line-height: 1;
  font-weight: 300;
  font-size: 13px;
  color: hsl(0, 0%, 37%)
}

.body-text {
  color: hsl(0, 0%, 37%);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.title-text {
  color: #222;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.card {
  background-color:  #fff;
  padding: 30px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border-radius: 4px;
}

.footercard {
  background-color:  #fff;
  padding: 40px 40px 40px 120px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  border-radius: 4px;
}

.top-stripe {
    border-top: 6px solid #408AF8;
}

.clockicon {
  width: 48px;
}

.numbers {
  font-family: 'Nunito Sans', sans-serif;
}

.commonButton {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .13em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
  text-shadow: 0 2px 3px rgba(0,0,0,.15);
}

.commonButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.commonButton:active {
  transform: translateY(1px);
}

.clockimg {
  width: 250px;
}

.clocktime {
  width: 18px;
}

.sideheading {
  font-weight: bolder;
  font-size: 19px;
  letter-spacing: .12rem;
  text-transform: uppercase;
  margin-top: 12px;
  border-bottom: 1px solid #d2d1d1cc;
  padding-bottom: 30px;
  font-family: Roboto;
}

.sideicon {
  width: 24px;
}

.white-text {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
}

.sideEmphasis {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.sidestamp {
  text-align: center;
  font-size: 14px;
}

.commenttext {
  font-size: 13px;
}

.bottomemphasis {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.bottomsubheading {
  margin-bottom: 12px;
  font-size: 16px;
  font-style: italic;
}

.commentsubheading {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 12px;
}

.commentsubheading > b {
  font-weight: 700;
}

.bottommuted {
  color: hsl(0, 0%, 42%);
  font-weight: 300;
  font-size: 14px;
}

.bottomexample {
  font-size: 16px;
  margin-bottom: 12px;
  position: relative;
  padding-left: 2em;
  font-style: italic;
}

.bottomexample::before {
  content: ' ';
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  position: absolute;
  background: url('../img/arrow-outline-right.svg')
}

.section-title {
  font-size: 34px;
  font-weight: 500;
  color: #32325d;
  margin-top: 24px;
  letter-spacing: .1rem;
  margin-bottom: 24px;
}

.sidecardimg {
  width: 130px;
  height: 130px;
  position: absolute;
  left: -30px;
}

.verticalradio {
  display: block;
}

#timesheetinfo {
  max-width: 1160px;
}

#clockinButton {
  color: #fff;
  background: linear-gradient(180deg, #f5515f 0%,#A1051D 100%);
}

#clockedin {
  color: #24b47e;
}

#comment {
 font-style: italic;
}

#commentbold {
  color: #1770f4;
  font-size: 16px;
  font-weight: 600;
}

#timestamp {
  color: #5a77f3;
}

#sideclock {
  background:linear-gradient(135deg, #44609e 0%,#3192bb 100%);
  border-radius: 0px 4px 4px 0px;
}

#sideclock > div:nth-child(1) {
  text-align: center;
}

#mainclock {
  border-radius: 4px 0px 0px 4px;
}

#timestamptext {
  text-align: center;
}

#sidecomments {
  border-top: 1px solid #d2d1d1cc;
  padding-top: 30px;
}

#sidecomments div:nth-child(1) {
  text-align: center;
}

#belowcomments > img:nth-child(1) {
  width: 275px;
}

#commentexamples >img:nth-child(2) {
  width: 275px;
}

#reprimand {
  position: relative;
  padding-left: 2em;
  margin-top: 18px;
  line-height: 1.5;
}

#reprimand::before {
  content: ' ';
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  position: absolute;
  background: url('../img/exclamation-outline.svg');
}

#falsify {
  line-height: 1.5;
  margin-top: 12px;
  padding-left: 2em;
}

#commentxborder {
  border-bottom: 3px solid #f6f9fc;
}

#commentyborder {
  border-left: 3px solid #f6f9fc;
}

#timesheetheading {
  color: #2fb7e4;
}

#printableheading {
  color: #b76ac4;
}

#showbutton {
  text-align: center;
  color: #fff;
  background:linear-gradient(180deg, #0fd2f4 0%,#099be6 100%);
}

#printbutton {
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg,#fca7e2 0%, #ed79ca 100%);           
}

#printinput {
  margin-bottom: 12px;
  width: 50%;
}
